@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  box-sizing: border-box;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: #faf8ef;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
